<div class="row">
  <div class="col-xs-8 col-xs-offset-2 post">
    <h2 class="post-title"><%= post.title %></h2>
    <p class="post-body"><%= post.body %></p>
    <p>Last time updated: <%= post.updated_at %></p>
    <br>
    <p><%= link_to 'Show', post %></p>
    <!-- <p><%= link_to 'Edit', edit_post_path(post) %></td> -->
  </div>
</div>
